/**************************************
    Patrícia Poltts .: patriciapoltts@gmail.com :.
    http://poltts.heroku.com
**************************************/

body{
    font-family: 'Montserrat', arial, 'sans-serif';
    font-size: 1em;
    font-weight: normal;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
section,figure,h1,h2,nav{
    margin: 0;
    padding: 0;
    outline: 0;
}
/*  */
main{
    position: absolute;
    width: 100%;
    min-width: 300px !important;
    max-width: 100%;
    min-height: 100%;
    margin: 0;
}
header{
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 1;
    margin: 0px;
    padding: 0px;
    display: block;
    width: 100%;
    height: 120px;
}
nav{
    width: auto;
    float: right;
    text-align: right;
    padding: 0px;
    width: 100%;
    margin: 2em 0px 0px 0px;
} 
nav > span{
    width: 3%;
    height: 22%;
    float: right;
}
nav > span > i{ 
    font-size: 3em !important; 
    cursor: pointer;
    color: rgba(255,255,255,.2);
}
nav > span > i:hover {
    transition: color ease-in .3s;
    color: rgba(255,255,255,.8);
}
nav ul#nav-menu{ 
    display: inline-block;
    width: 97%;
    margin: 3px 0px 0px 0px;
    padding: 0px; 
    float: left;
    text-align: right;
}
nav ul#nav-menu li{
    display: inline-block;
    width: calc(100%/6);
    font-size: 1.8em;
    text-align: center;
    letter-spacing: 1px;
}
nav ul#nav-menu li > a,
    nav ul#nav-menu li > a:active,
        nav ul#nav-menu li > a:visited {
    color: rgb(255,255,255);
    text-shadow: 0px -1px 1px rgb(150, 243, 135);
    text-decoration: none;
} 
nav ul#nav-menu li > a:hover{
    text-decoration: none;
    transition: color ease-out .25s;
    color: rgba(150, 243, 135,1);
    text-shadow: 0px -1px 1px rgb(255, 255, 255);
} 
figure{
    width: auto;
    margin: 2em 2em 0px 0px;
    text-align: center;
    float: left;
}
figure img{
    width: 10em;
    height: 10em;
    margin: 0px;
    border: none;
    border-radius: 100%;
}
hgroup{
  width: auto;
  float: left;
  margin: 2em 0 0 0;
}
h1{
    font-size: 3em;
    font-weight: bold;
    width: 100%;
    margin: 1px auto;
    padding: 0;
    text-align: left;
    color: #fff;
    text-shadow: 1px 0 2px rgba(0,0,0,.4);
}
h2{
    font-size: 2em;
    letter-spacing: 1px;
    font-weight: bold;
    width: auto;
    margin: 1px auto;
    padding: 0;
    text-align: left; 
    color:  rgb(150, 243, 135); 
    text-shadow: 0px 0 1px rgba(255,255,255,.5); 
}
h3{
    font-size: 1.5em;
    font-weight: bold;
    width: auto;
    margin: 1px auto;
    padding: 0;
    text-align: center; 
    color: #AFABAB; 
}
video{
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    min-width: 100%;
    height: auto;
    min-height: 100%;
    margin: 0;
    padding: 0;

    object-fit: cover;
}
#home{
    // position: absolute;
    // width: 100%;
    // height: 100%;
    // min-height: 100%;
    // top: 0px;
}
#contato{
    // position: absolute;
    // width: 100%;
    // height: 100%;
    // min-height: 100%;
    // top: 0px;
    // background-color: #000;
}
.controls{
    position: absolute;
    bottom: 2em;
    right: 2em;
    width: auto;
    outline: 0;
} 
.controls > span > i{
    font-size: 4em;
    cursor: pointer;
    color: rgba(255,255,255,.2);
}
.controls > span > i:hover{
    transition: color ease-in .3s;
    color: rgba(255,255,255,.8);
}

/* fixed styles */
.txt-green-light{  color: rgb(150, 243, 135); }
.txt-blue-light{  color: #8A9FC1; }
.font-base{
    font-family: '\'Montserrat\', sans-serif';
    font-size: 1em;
    font-weight: normal;
}
.links a,.links a:link,.links a:visited{
    text-decoration: none;
    color: #00b7ff;
}
.links a:hover{
    text-decoration: none;
    color: rgba(0, 183, 255, .6);
}
.rounded-img{
    border: none;
    border-radius: 100%;
}
.gradient-black{
    background: #45484d;
    /* Old browsers */
    background:    -moz-linear-gradient(top, #45484d 0%, #000 100%);
    background: -webkit-linear-gradient(top, #45484d 0%, #000 100%);
    background:         linear-gradient(to bottom, #45484d 0%, #000 100%);

    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#45484d', endColorstr='#000000', GradientType=0);
}
.text-effect-soft{
    color: #000;
    text-shadow: 1px 1px 1px #00b7ff;
}
.text-effect-2{
    color: white;
    text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0, 0, 0, .1), 0 0 5px rgba(0, 0, 0, .1), 0 1px 3px rgba(0, 0, 0, .3), 0 3px 5px rgba(0, 0, 0, .2), 0 5px 10px rgba(0, 0, 0, .25), 0 10px 10px rgba(0, 0, 0, .2), 0 20px 20px rgba(0, 0, 0, .15);
}
.text-effect-3{
    color: #202c2d;
    text-shadow: 0 1px #808d93, -1px 0 #cdd2d5, -1px 2px #808d93, -2px 1px #cdd2d5, -2px 3px #808d93, -3px 2px #cdd2d5, -3px 4px #808d93, -4px 3px #cdd2d5, -4px 5px #808d93, -5px 4px #cdd2d5, -5px 6px #808d93, -6px 5px #cdd2d5, -6px 7px #808d93, -7px 6px #cdd2d5, -7px 8px #808d93, -8px 7px #cdd2d5;
}
.text-effect-4{
    color: #444;
    text-shadow: 1px 0 1px #ccc, 0 1px 1px #eee,
    2px 1px 1px #ccc, 1px 2px 1px #eee,
    3px 2px 1px #ccc, 2px 3px 1px #eee,
    4px 3px 1px #ccc, 3px 4px 1px #eee,
    5px 4px 1px #ccc, 4px 5px 1px #eee,
    6px 5px 1px #ccc, 5px 6px 1px #eee,
    7px 6px 1px #ccc;
}

@media all and (min-width: 1600px) {

}
